.bkgr {
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#eee9e2+0,ddd3c3+100 */
    background: rgb(238,233,226); /* Old browsers */
    background: -moz-linear-gradient(top, rgba(238,233,226,1) 0%, rgba(221,211,195,1) 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(238,233,226,1) 0%,rgba(221,211,195,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(238,233,226,1) 0%,rgba(221,211,195,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#eee9e2', endColorstr='#ddd3c3',GradientType=0 ); /* IE6-9 */
}
