@model Ocean.ViewModels.ChangePasswordViewModel

@{
    ViewData["Title"] = "Change Password";
    Layout = "~/Views/Shared/_SignUp.cshtml";
}

<div class="row justify-content-center align-items-center">
    <div class="col-sm-2 col-lg-3">
        <div class="card border-light mb-2">
            <div class="card-header bg-light">
                <img src="~/images/Logo/icons8-water-element-96.png" alt="" width="72" height="72">
                <div class="display-4 text-dark">Ocean</div>
            </div>
            <div class="card-body">
                <h2 class="card-title">- Change Password -</h2>
                <form class="form-signin text-left" asp-action="ChangePassword" method="post">
                    <div class="mb-2 form-group">
                        <label asp-for="Login">Name</label>
                        <input type="text" asp-for="Login" value="@User.Identity.Name" class="form-control" readonly="readonly">
                    </div>
                    <div class="mb-2 form-group">
                        <label asp-for="CurrentPassword">Password</label>
                        <input type="password" asp-for="CurrentPassword" class="form-control" placeholder="Current Password">
                        <span asp-validation-for="CurrentPassword" class="text-danger"></span>
                    </div>
                    <div class="mb-2 form-group">
                        <label asp-for="NewPassword">Password</label>
                        <input type="password" asp-for="NewPassword" class="form-control" placeholder="New Password">
                        <span asp-validation-for="NewPassword" class="text-danger"></span>
                    </div>
                    <div class="mb-4 form-group">
                        <label asp-for="ConfirmNewPassword">Password</label>
                        <input type="password" asp-for="ConfirmNewPassword" class="form-control" placeholder="Confirm Password">
                        <span asp-validation-for="ConfirmNewPassword" class="text-danger"></span>
                    </div>
                    <div class="mt-2 form-group">
                        <button class="btn btn-info btn-block" type="submit"><h5>Save changes</h5></button>
                        <a asp-controller="Account" asp-action="MyAccount" class="btn btn-secondary btn-block">Cancel</a>
                    </div>
                </form>
                <div class="text-center">
                    <p class="mt-5 mb-3 text-muted text-center">&copy; @DateTime.Now.Year Ocean</p>
                </div>
            </div>
        </div>
    </div>
</div>
