@model List<Ocean.Models.UserProfile>

@{
    ViewData["Title"] = "Select profile";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <div class="display-4">@ViewData["Title"]</div>
    <hr class="my-4">
    <div class="row mb-5">
        @foreach (var profile in Model)
        {
            <div class="col-lg-2 col-md-3 col-sm-1">
                <div class="card text-white bg-secondary text-center">
                    <div class="card-body">
                            <img src="~/@profile.ProfilePicture.FilePath" width="150" height="150" />
                        <form class="form-signin text-center" asp-controller="Account" asp-action="SelectProfile" asp-route-id="@profile.UserProfileId" method="post">
                            <button class="btn btn-success mt-3" type="submit">@profile.Name</button>
                        </form>
                        </div>
                </div>
            </div>
        }
        @if (Model.Count < 3 && Model.Count > 0)
        {
            <a asp-controller="Account" asp-action="CreateProfile"><img src="~/images/Profile/icons8-add-new-100.png" width="150" height="150" /></a>
        }
    </div>

    <div class="btn-group text-center">
        <a class="btn btn-info" asp-controller="Account" asp-action="ManageProfiles">Manage Profiles</a>
    </div>
</div>
