@{
    ViewData["Title"] = "Home";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="display-4">@ViewData["Title"]</div>

<div>
    <form asp-controller="Account" asp-action="AddUserRole" method="post">
        <button class="btn btn-warning">Add User role</button>
    </form>
</div>
