@model System.Collections.Generic.List<Ocean.Models.Video>

@{
    ViewData["Title"] = "Results";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <div class="display-4">@ViewData["Title"]</div>
    <hr class="my-4">
    <div class="col-sm-12 col-lg-12">
        <div>
            <p>Not found...</p>
        </div>
    </div>
</div>
